* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    animation-name: colorChange;
    background-image: linear-gradient(to right, #0b74b0, #75479c, #bd3861);
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}

@keyframes colorChange {
    20% {
        background-image: linear-gradient( to right, rgb(245, 221, 10), rgb(53, 143, 101), rgb(113, 192, 82));
    }
    45% {
        background-image: linear-gradient( to right, rgb(235, 118, 10), rgb(44, 170, 40), rgb(108, 96, 163));
    }
    80% {
        background-image: linear-gradient( to right, rgba(46, 13, 233, 0.767), rgb(129, 46, 46), rgb(132, 160, 81));
    }
}

.goal-game {
    display: flex;
    flex-wrap: wrap;
    height: 640px;
    margin: auto;
    perspective: 1000px;
    width: 640px;
}

.front-side {
    transform: rotateY(180deg);
}

.front-side,
.back-side {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 15px;
    background: #fcfafab6;
    backface-visibility: hidden;
}

.dream-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.7s;
}

.dream-card:active {
    transform: scale(0.97);
    transition: transform 0.2s;
}

.dream-card.flip {
    transform: rotateY(180deg);
}

#button1 {
    background-color: linear-gradient(to right, #0b74b0, #75479c, #bd3861);
    height: 50px;
    position: absolute;
    z-index: +3;
}

p,
#timer {
    font-weight: bolder;
    font-size: 30px;
    background-color: transparent;
    margin-left: 90px;
}

p {
    margin-bottom: 5px;
}

#timer {
    font-size: 20px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 50px;
}

#timer:hover {
    background-color: lightgoldenrodyellow;
    cursor: pointer;
}

#testTimer {
    margin-top: 20px;
}